@import "./mixin.scss";
/*main*/
.main-content {
  padding: 16px 20px;
  .left-content {
    .left-content-title {
    }
    .left-content-stepper {
      position: relative;
      height: 60px;
      display: flex;
      justify-content: space-between;
      .stepper-container {
        text-align: center;
        padding-top: 20px;
        @include getStepNums(3);
        .stepper-container-line {
          position: absolute;
          display: block;
          height: 2.5px;
          top: 35px;
          width: 20%;
          margin: 0 18%;
          background-color: var(--line-color);
        }
        .stepper-container-circle {
          position: relative;
          height: 32px;
          width: 32px;
          background-color: var(--circle-color);
          border-radius: 50%;
          border: 1px solid var(--circle-border);
          color: var(--circle-font);
        }
        &.checked,
        &.active {
          .stepper-container-circle {
            background-color: var(--circle-check-color);
            color: var(--circle-check-font);
          }
          .stepper-container-line {
            background-color: var(--line-check-color);
          }
        }
        &.checked {
          .stepper-container-line {
            background-color: var(--line-check-color);
          }
        }
        &.checked .stepper-container-circle::after {
          position: absolute;
          left: 30%;
          content: "\2714";
        }
      }
    }
    .left-content-form {
      padding-top: 0.5rem;
      .part {
        .form-container-1 {
          display: grid;
          padding-top: 1.5rem;
          width: 100%;
          grid-template-columns: 40% 60%;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          .form-container-gender {
            grid-column: 1 / 2;
            position: relative;
            &::after {
              content: "";
              border-style: solid;
              border-width: 6px 5px 0 5px;
              border-color: var(--line-check-color) transparent transparent transparent;
              position: absolute;
              top: 3rem;
              right: 8px;
              z-index: -1;
            }
          }
          .form-container-name {
            width: 100%;
            height: 50px;
            grid-column: 2 / 3;
            padding-left: 1.5rem;
          }
          .form-container-phone,
          .form-container-email,
          .form-container-address {
            grid-column: 1 / 3;
          }
          .form-container-cities {
            grid-column: 1 / 3;
            position: relative;
            &::after {
              content: "";
              border-style: solid;
              border-width: 6px 5px 0 5px;
              border-color: var(--line-check-color) transparent transparent transparent;
              position: absolute;
              top: 3rem;
              right: 8px;
              z-index: -1;
            }
          }
        }
        .form-container-2 {
          .form-container-deliver {
            padding-top: 1rem;
            width: 100%;
            .deliver {
              border-radius: 5px;
              border: 1px solid var(--input-light-gray);
              height: 60px;
              margin-bottom: 5%;
              &:hover {
                border: 1px solid var(--input-dark-gray);
              }
              input {
                &[type="radio"] {
                  -webkit-appearance: none;
                  border-radius: 50%;
                  height: 25px;
                  width: 20px;
                  background: var(--form-input);
                  &:checked {
                    box-shadow: inset 0 0 0 7px var(--circle-check-color);
                    background: var(--white);
                  }
                }
              }
              .deliver-container {
                display: grid;
                width: 100%;
                align-items: center;
                grid-template-columns: 20% 65% 15%;
                grid-template-rows: 1fr;
                cursor: pointer;
                span {
                  color: var(--font-color);
                }
                .circle {
                  padding-left: 10px;
                }
                .word {
                  font-size: 14px;
                  line-height: 30px;
                  p {
                    color: var(--deliver-sm-font);
                  }
                }
                .fee {
                  padding-bottom: 1.5rem;
                  font-size: 12px;
                }
              }
            }
          }
        }
        .form-container-3 {
          display: grid;
          padding-top: 1rem;
          grid-template-columns: 50% 50%;
          grid-template-rows: 1fr 1fr 1fr;
          .form-container-address,
          .form-container-number {
            grid-column: 1 / 3;
          }
          .form-container-date {
            grid-column: 1 / 2;
          }
          .form-container-cvc {
            grid-column: 2 / 3;
            padding-left: 2rem;
          }
        }
      }
    }
  }
  .right-content {
    border-radius: 5px;
    border: 1px solid var(--line-color);
    padding: 20px 15px 0px 15px;
    background-color: var(--right-content-background);
    span,
    p {
      color: var(--font-color);
    }
    .right-content-title {
      display: none;
    }
    .right-content-item {
      display: flex;
      .item-left {
        > img {
          height: 100px;
          width: 100px;
        }
      }
      .item-right {
        display: grid;
        width: 100%;
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1.5fr 1fr;
        text-align: right;
        margin-bottom: 1rem;
        .item-right-icon {
          span {
            position: absolute;
            padding: 0px 1rem;
          }
          .icon {
            display: unset;
            height: 26px;
            width: 27px;
            cursor: pointer;
            margin-left: 3rem;
          }
        }
        p {
          font-weight: bold;
        }
      }
    }
    .right-content-fee,
    .right-content-total {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;
      font-size: 14px;
      height: 50px;
      p {
        font-weight: bold;
      }
      &::before {
        @extend %line-style;
        top: 0%;
      }
    }
  }
}
.left-content-bottom {
  padding: 16px 20px;
  .control-panel {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    position: relative;

    .btn-outline {
      grid-column: 1 / 2;
      margin-right: 2rem;
    }
    &::before {
      @extend %line-style;
      top: 0%;
    }
  }
}
.footer-container {
  display: none;
}

@media screen and (min-width: 376px) {
  .main-content {
    padding: 2% 10% 0 10%;
    display: flex;
    .left-content {
      width: 50%;
      .left-content-form {
        .part {
          .form-container-1 {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            .form-container-gender {
              grid-column: 1 / 3;
            }
            .form-container-name {
              grid-column: 3 / 7;
            }
            .form-container-phone {
              grid-column: 1 / 4;
            }
            .form-container-email {
              grid-column: 4 / 7;
              padding-left: 1.5rem;
            }
            .form-container-address {
              grid-column: 3 / 7;
              padding-left: 1.5rem;
            }
            .form-container-cities {
              grid-column: 1 / 3;
              position: relative;
              &::after {
                content: "";
                border-style: solid;
                border-width: 6px 5px 0 5px;
                border-color: var(--line-check-color) transparent transparent transparent;
                position: absolute;
                top: 3rem;
                right: 8px;
                z-index: -1;
              }
            }
          }
        }
      }
    }
    .right-content {
      margin-left: 10%;
      margin-top: 8%;
      width: 40%;
      .right-content-title {
        display: block;
        font-size: 18px;
        margin-bottom: 1rem;
      }
    }
  }
  .left-content-bottom {
    width: 50%;
    padding: 0 0 5% 10%;
    .control-panel {
      padding-top: 2rem;
      grid-template-columns: 33% 33% 34%;
      grid-template-rows: 1fr;
      .btn-outline {
        grid-column: 1 / 2;
        margin-right: 3rem;
      }
      .btn-primary {
        grid-column: 3 / 4;
      }
    }
  }
}
